 .mainPage {
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; 
  padding-top: 80px;
  padding-right: 80px;
  padding-left: 80px;
  justify-content: space-between;
}

.verticalIcons {
  position: relative;
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
 .board {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.displayCharts {
  height: 95%;
  width: 80%;
  justify-content: space-evenly;
  padding-right: 15px;
}
  .individuals,
  .companies {
  height: 50%;
  width: 98.5%;
  background-color: #0b0e19;
  
  
}
.displayRightSide {
  height: 95%;
  width: 45%;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
}

.displayDoughnut{
  height: 40%;
  width: 90%;
  position: center;
  background-color:#0b0e19;
}
.addSpace{
  height: 25px;
  width: 100%;
}

.selectOptions {
  height: 8%;
  width: 90%;
  background-color:#0b0e19;
}
.meetings {
  height: 45%;
  width: 90%;
  position: center;
  justify-content: space-between;
  background-color:white;
}


















